
*{
	margin: 0px; padding: 0px;
}
h2,h4,h1{
	color:#fff;
}
#encabezado{
	text-align:center;margin-top:-20px;height:-5px
}
#map{
 border: 2px solid;border-radius: 25px;
 height: 425px; width: 600px; 
}
footer{
	text-align: center;
	 padding:10px; margin-right:-105px;margin-left:-106px
}
